<div class="rounded greyish-bg p-4 mb-1">
    <h3 class="text-center"><%= t('contribute') %></h3>
    <hr />
<p>
  You can contribute to this database in several ways.
</p>
<p>
  <b>Submit new questions</b>. (Please make sure that a similar question does not already exist).
  <br>
  <%= link_to t('submit_a_new_question'), new_question_path, class: "btn btn-success btn-lg my-2 multilinebutton" %>
</p>
<p>
  <b>Submit new arguments to questions.</b>
  <br>
    <%= link_to t('show_questions_with_no_or_few_arguments'), overview_path, class: "btn btn-success btn-lg my-2 multilinebutton" %>
</p>
<p>
<b>Translate existing questions and answers into new languages.</b>
</p>

<p>
  <b>Give feedback.</b> Bad design? Missing features? Missing language? Suggestion for improvements?
  <br>
  <%= link_to t('contact'), contact_path, class: "btn btn-success btn-lg my-2 multilinebutton" %>
</p>
</div>
