<div class="rounded greyish-bg p-4 mb-1">
    <h3 class="text-center"><%= t('contribute') %></h3>
    <hr />
<p>
  <b>Füge neue Fragen hinzu.</b>
  <br>(Bitte überprüfe, ob nicht bereits ähnliche Fragen vorhanden sind).
  <br>
  <%= link_to t('submit_a_new_question'), new_question_path, class: "btn btn-success btn-lg my-2 multilinebutton" %>
</p>
<hr />
<p>
  <b>Füge neue Argumente hinzu.</b>
  <br>
    <%= link_to t('show_questions_with_no_or_few_arguments'), overview_path, class: "btn btn-success btn-lg my-2 multilinebutton" %>
</p>
<hr />
<p>
<b>Übersetze bestehende Fragen und Antworten in andere Sprachen.</b>
</p>
<hr />
<p>
  <b>Feedback geben.</b>
  <br>Verbesserungsvorschläge? Fehlende Feautures? Fragen? Designvorschläge?
  <br>
  <%= link_to t('contact'), contact_path, class: "btn btn-success btn-lg my-2 multilinebutton" %>
</p>
</div>
