<div class="jumbotron jumbotron-bg">
    <h2>
      Let's be better to animals.
    </h2>
    <hr />
    <p>
      This is a database of arguments that aim to improve animal welfare.
    </p>
    <p>
      Here is a short example:
    </p>
        <%=  render partial: "arguments/questionshowcase", locals: {question: Question.first, arguments: Argument.where(id: Question.first.arguments.first.id), show: false } %>

        <hr />
<%=  render partial: "static_pages/use" %>

<%=  render partial: "static_pages/contribute" %>

</div>
