<div class="jumbotron jumbotron-bg">
    <h2>
      Let's be better to animals.
    </h2>
    <%= link_to "Question 1", new_argument_path(question: 1) %>
    <p>
      This is a database of arguments that aim to improve animal welfare.
    </p>
    <p>
      Here is an example:
    </p>
    <p>
    <strong>
      Why not eat meat?
    </strong>
    <br>
    Because the meat industry <b>is mostly cruel to animals</b>.
    The meat industry <b>isn't interested in animal welfare</b>, it is <b>interested in making profit</b>.
    Making profit and treating animals well is often <b>incompatible</b> because treating animals well is demanding.
    What do you think does the meat industry care more about? Good salaries or animal welfare?
      https://www.rollingstone.com/feature/belly-beast-meat-factory-farms-animal-activists
    </p>
  https://www.srf.ch/kultur/gesellschaft-religion/das-tier-und-wir/tierisch-gute-argumente-gegen-den-fleischkonsum

    <h3>Contribute</h3>

  <%= link_to "You can submit your own questions and arguments", new_argument_path %>

  <p>
    You can submit your own questions and arguments.
    Go to "Submit" and enter your suggestion or suggest a better answer to an existing question.
  </p>

  <h3>Use this database</h3>
  <p>
    Browse here.
  </p>
  <p>
    You can download the current database as csv-file here: Download
  </p>
  <p>
    You can access this database via API. Take a look here: How to use this database
  </p>
  <p>
    Social Media
  </p>

  <p>
  <h3>
    Rules
  </h3>
  Don't use esoteric arguments like "killing animals will have a bad effect on your karma!".
  If we want people to treat animals well, we shouldn't insult their intelligence.
  </p>


</div>