<div class="jumbotron jumbotron-bg">
    <h3>
      Let's be better to animals.
    </h3>

    <p>
      This is a database for arguments that aim to improve animal welfare.
    </p>
  <p>
    Here is an example:
  </p>
<p>
  <strong>
    Why not eat meat?
  </strong>
  <br>
  Because the meat industry <b>is mostly cruel to animals</b>.
  The meat industry <b>isn't interested in animal welfare</b>, it is <b>interested in making profit</b>.
  Making profit and treating animals well is often <b>incommensurable</b>.
</p>

  <p>
    <h1>Contribute</h1>
    You can submit your own questions and arguments.
    Go to "Submit" and enter your suggestion or suggest a better answer to an existing question.
  </p>

  <p>
  <h1>
    Rules
  </h1>
  Don't use esoteric arguments like "killing animals will have a bad effect on your karma!".
  If we want people to treat animals well, we shouldn't insult their intelligence.
  </p>


</div>