<div class="jumbotron jumbotron-bg">
    <h3>
      Let's be better to animals
    </h3>

    <p>
      This is a database for arguments to improve animal welfare.
    </p>
  <p>
    Here is an example:
  </p>

  <p>

  </p>

  <p>
    You can submit your own questions and arguments.
    Go to "Submit" and enter your suggestion!
  </p>

</div>