<p>
  <b><%= link_to argument.title, argument_path(argument) %></b>
</p>
      <%=  render partial: "arguments/sanitizedargument", locals: {argument: argument} %>

      <%=  render partial: "arguments/author", locals: {argument: argument} unless argument.author.blank? %>

      <%=  render partial: "arguments/url", locals: {argument: argument} unless argument.url.blank? %>
  <hr />
