<div class="row">
  <div class="col-6 jumbotron-bg">
    <%= raw Diffy::SplitDiff.new(original.longanswer, suggestion.longanswer).left %>
  </div>

  <div class="col-6 jumbotron-bg">
    <%= raw Diffy::SplitDiff.new(original.longanswer, suggestion.longanswer).right %>
  </div>
</div>

<div class="col-6 jumbotron-bg">
  <%= raw Diffy::SplitDiff.new(strip_tags(original.longanswer), strip_tags(suggestion.longanswer), :format => :html).left %>
</div>

