<% if @questions.nil? %>
    <div  class="jumbotron jumbotron-bg">
      No results found!
    </div>
<% elsif @questions.empty? %>
    <div  class="jumbotron jumbotron-bg">
      No results found!
    </div>
<% else %>

    <% @questions.each do |question| %>

    <%=  render partial: "arguments/questionshowcase", locals: {question: question, arguments: @arguments.where(question_id: question.id), show: false } %>

    <% end %>

<% end %>
