<% @arguments || (@arguments = Argument.published) %>

<% @arguments.all.each do |argument| %>

  <div class="jumbotron jumbotron-bg">
    <i><b><%= argument.question %></b></i>
    <hr />
    <%= argument.quickanswer %>
  </div>
<% end %>