<% if @questions.nil? %>
    <div  class="jumbotron jumbotron-bg">
      No results found!
    </div>
<% elsif @questions.empty? %>
    <div  class="jumbotron jumbotron-bg">
      No results found!
    </div>
<% else %>

    <% @questions.each do |question| %>

        <div class="jumbotron jumbotron-bg">
          <i><b><%= question.question %></b></i>

          <% arguments = @arguments.where(question_id: question.id) %>
          <% if !arguments.empty? %>
              <hr />
            <% arguments.each do |argument| %>
                  <%=  render partial: "sanitizedargument", locals: {argument: argument} %>
                <br>
                <%= argument.author %>
                <hr />
            <% end %>
         <% end %>
        </div>

    <% end %>

<% end %>