<div class="jumbotron jumbotron-bg">
    <h2>
      Let's be better to animals.
    </h2>
    <hr />
    <p>
      This is a database of arguments that aim to improve animal welfare.
    </p>
    <p>
      Here is an example:
    </p>
    <p>
    <strong>
      Why not eat meat?
    </strong>
    <br>
    Because the meat industry <b>is mostly cruel to animals</b>.
    The meat industry <b>isn't interested in animal welfare</b>, it is <b>interested in making profit</b>.
    Making profit and treating animals well is often <b>incompatible</b> because treating animals well is demanding.
    What do you think does the meat industry care more about? Good salaries or animal welfare?
      https://www.rollingstone.com/feature/belly-beast-meat-factory-farms-animal-activists
    </p>
  https://www.srf.ch/kultur/gesellschaft-religion/das-tier-und-wir/tierisch-gute-argumente-gegen-den-fleischkonsum

  <hr />
    <h3>Contribute</h3>
    <p>
      You can contribute to this database in several ways.
      <ul>
        <li>
          You can add new questions: <%= link_to "Submit new question", new_question_path, class: "btn btn-sm btn-success" %>
          <br>
          Please make sure that a similar question does not already exist.
        </li>
        <li>
          You can submit new arguments to questions.<br>
          Here you can see all questions that don't have any arguments yet: LINK
          <br>
        </li>
        <li>
          Translate existing questions and answers into new languages.
        </li>
        <li>
          Give feedback: Design bad? Missing features?
        </li>
      </ul>
    </p>
  <%= link_to "You can submit your own questions and arguments", new_argument_path %>

  <p>
    You can submit your own questions and arguments.
    Go to "Submit" and enter your suggestion or suggest a better answer to an existing question.
  </p>

  <h3>Use this database</h3>
  <p>
    Browse here.
  </p>
  <p>
    You can download the current database as csv-file here: Download
  </p>
  <p>
    You can access this database via API. Take a look here: How to use this database
  </p>
  <p>
    Social Media
  </p>

  <p>
  <h3>
    Rules
  </h3>
  Don't use esoteric arguments like "killing animals will have a bad effect on your karma!".
  If we want people to treat animals well, we shouldn't insult their intelligence.
  </p>


</div>

<p>
<h3>
  Guidelines
</h3>
Let's face it. Most people don't give a shit about animal suffering.
If we want them to care about animal suffering, we have to give them good reasons.
</p>
<p>
  There are also different kinds of people and therefore different kinds of reasons or arguments that appeal to them.
</p>
<p>
  But I don't think that any kind of reason that may motivate some people to care about animal suffering is automatically a good one.
</p>
<p>
  For example, arguments like "Killing animals will have a bad effect on your Karma!"
  or "According to the indians, cows are holy! So don't eat them!"
  may motivate some people to care about animals, but I'm not very comfortable with these kinds of arguments.
</p>
<p>
  For one thing, these arguments are not about animals but rather about something different, namely religion or self-interest.
  But I think that we should treat animals well, not because some of them are holy or because it is in our own interest to do so, but because <b>suffering is bad</b> and <b>we shouldn't cause suffering unnecessarily</b>.
</p>
<p>
  That being said, I think we should avoid making arguments that have the potential to "backfire".
  For instance, the "Cows are holy"-example seems to imply that some animals aren't holy.
  And the undesirable effect will be that some people may care about cows but not about other animals.
</p>

<%= link_to language.name, Rails.configuration.host.to_s + language.abbreviation + "/" + request.env['PATH_INFO'], class:"dropdown-item" %>
<%= link_to language.name, root_path(locale: language.abbreviation), class:"dropdown-item" %>
