<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg text-justify">

  <p>
    <%= sanitize @argument.argument, attributes: %w(style href) %>
  </p>

  <%=  render partial: "urls", locals: {argument: @argument} unless @argument.urls.empty? %>

</div>

