<p id="notice"><%= notice %></p>

<% question = Question.find(@argument.question_id) %>

<div class="jumbotron jumbotron-bg text-justify">
  <i>
    <%= link_to question.question, question_path(question) %>
  </i>

  <hr />

    <%=  render partial: "arguments/argument", locals: {argument: @argument} %>

</div>
