<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <i>
    <%= link_to @argument.parent.question, question_path(@argument.parent) %>
  </i>

  <hr />

    <%=  render partial: "arguments/argument", locals: {argument: @argument} %>

</div>
