<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <p class="text-center">
    <i><%= link_to @argument.parent.question, question_path(@argument.parent) %></i>
  </p>

  <hr />

    <%=  render partial: "arguments/argument", locals: {argument: @argument} %>

</div>
