<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg text-justify">
  <i>
    <%= Question.find(@argument.question_id).question %>
  </i>

  <hr />

    <%=  render partial: "arguments/argument", locals: {argument: @argument} %>

</div>
