$jumbotron-bg: white;//greenyellow;

body {
  background: radial-gradient(at top left, limegreen, forestgreen);
  //margin: 0; //maybe important
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-bottom: 60px; /* Margin bottom by footer height */
}

html {
  position: relative;
  min-height: 100%;
}


.jumbotron-bg {
  background-color: $jumbotron-bg;
}

.jumbotron-color {
  color: $jumbotron-bg !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.testingcolor{
  color: greenyellow;
}

.argumenttitle {
  font-weight: bold;
  //text-decoration: underline;
//  background-color: GreenYellow;
}

.greyish-bg{
  background-color: #E9ECEF
}

.underlinelinks {

  a {
    text-decoration: underline;
  }
}

a {
  color: black;
  //text-decoration: underline;
}

.multilinebutton{
    white-space:normal !important;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;

  a {
    color: gray;
  }
}
