$jumbotron-bg: greenyellow;

body {
  background: radial-gradient(at top left, limegreen, forestgreen);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron-bg {
  background-color: $jumbotron-bg;
}

.jumbotron-color {
  color: $jumbotron-bg !important;
}
