<li class="nav-item">
  <div class="nav-link">
      <%= Language.model_name.human %>:
    <div>
</li>

<li class="nav-item">
  <div class="dropdown mt-1">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= Language.find_by_abbreviation(I18n.locale.to_s).name %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% Language.all.each do |language| %>
        <% unless I18n.locale.to_s == language.abbreviation %>
          <%# link_to language.name, url_for(locale: language.abbreviation), class:"dropdown-item" %>
          <%= link_to language.name, request.query_parameters.merge({:locale => language.abbreviation}), class:"dropdown-item" %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
